<div class="content">
    <div class="container-fluid">    
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title"><%= campaign.name %></h4>
                        <p class="category">
                        Summary
                        </p>
                    </div>
                    <div class="content">
                    <% if (campaign.desc) { %>
                        <blockquote>                            
                            <p><%= campaign.desc %></p>
                        </blockquote>
                    <% }; %>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i>
                                Updated <%= campaign.updatedAt %>
                            </div>                                    
                        </div>
                    </div>
                </div>
            </div>          
            <div class="col-sm-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Campaign Members</h4>
                        <p class="category">Total: <%= users.length %></p>
                    </div>
                    <div class="content">
                        <div>
                        <% users.forEach(function(user){ %>
                        <img src="<%= userImages[user.id] %>" width="50" height="50" class="user-pic img-circle" data-toggle="tooltip" title="<%= user.name %>">
                        <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <% if (notes[0]) { %>
            <div class="col-sm-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title"><%= notes[0].title %></h4>
                        <p class="category">New Note</p>
                    </div>
                    <div class="content">
                        <div class="note">
                            <span class="note-ul"><%= notes[0].body %></span>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> 
                                Created <%= notes[0].createdAt %>
                            </div>                                 
                        </div>
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="col-sm-8">
            </div>
        <% }; %>
			<div class="col-sm-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Recent Activity</h4>
                        <p class="category"></p>
                    </div>
                    <div class="content">
                        <div>
                            <p></p>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>