<div class="content">
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="card card-user">
                            <a href="/campaign/<%= campaign.identifier %>">
                                <div class="image">
                                <% if (campaignImages.banner) { %>
                                    <img src="<%= campaignImages.banner %>" alt="Banner for <%= campaign.name %>"/>
                                <% } else { %>
                                    <img src="/img/default_banner.png" alt="Default banner for <%= campaign.name %>"/>
                                <% }; %>
                                </div>
                                <div class="insignia pull-left">
                                    <a href="/campaign/<%= campaign.identifier %>">
                                    <% if (campaignImages.insignia) { %>
                                        <img class="avatar border-gray" src="<%= campaignImages.insignia %>" alt="Insignia for <%= campaign.name %>"/>
                                    <% } else { %>
                                        <img class="avatar border-gray" src="/img/default_insignia.png" alt="Default insignia for <%= campaign.name %>"/>
                                    <% }; %>
                                    </a>
                                </div>
                                <div class="campaign">
                                    <h4 class="campaign-title"><%= campaign.name %>
                                        <small> <%= campaign.status %></small>
                                    </h4>
                                </div>
                                <div class="campaign pull-right">
                                    <button id="campaignLink" class="btn btn-simple campaign-title" data-toggle="popover" title="Permanent Link" data-content="<textarea>http://compactia.com/campaign/<%= campaign.identifier %></textarea>" data-placement="left" data-html="true">
                                        <small><i class="pe-7s-link"></i> Link</small>
                                    </button>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">  
                    <div class="row">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">
                                    <%= campaign.name %>
                                    <i class="pe-7s-notebook text-muted pull-right"></i>
                                </h4>

                                <p class="category">
                                Summary
                                </p>
                            </div>
                            <div class="content">
                            <% if (campaign.desc) { %>
                                <blockquote>                            
                                    <p><%= campaign.desc %></p>
                                </blockquote>
                            <% } else { %>                          
                                <p class="text-muted">
                                    There is no description for this campaign yet.
                                </p>
                            <% }; %>
                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i>
                                        Updated <%= campaign.updatedAt %>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <% if (notes[0]) { %>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">
                                    <%= notes[0].title %>
                                    <i class="pe-7s-news-paper text-muted pull-right"></i>
                                </h4>
                                <p class="category">New Note by <%= notes[0].author %></p>
                            </div>
                            <div class="content">
                                <div class="note">
                                    <span class="note-ul"><%= notes[0].body %></span>
                                </div>
                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-clock-o"></i> 
                                        Created <%= notes[0].createdAt %>
                                    </div>                                 
                                </div>
                            </div>
                        </div>
                    <% }; %>
                    </div>
                </div>     
                <div class="col-sm-4 right-col">
                    <div class="row right-col">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">
                                    Members
                                    <i class="pe-7s-user text-muted pull-right"></i>
                                </h4>
                                <p class="category">Total: <%= users.length %></p>
                            </div>
                            <div class="content">
                                <div>
                                <% users.forEach(function(user){ %>
                                    <% if (userImages[user.id]) { %>
                                        <img src="<%= userImages[user.id] %>" width="50" height="50" class="user-pic img-circle" data-toggle="tooltip" title="<%= user.name %>">
                                    <% } else { %>
                                        <img src="/img/default-avatar.png" width="50" height="50" class="user-pic img-circle" data-toggle="tooltip" title="<%= user.name %>">
                                    <% } %>
                                <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row right-col">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">
                                    Location
                                    <i class="pe-7s-map-marker text-muted pull-right"></i>
                                </h4>
                                <p class="category"><%= campaign.type %></p>
                            </div>
                            <div class="content">
                                <% if (location.street) { %>
                                <div>
                                    <address>
                                        <%= location.street %><br>
                                        <%= location.city %>, <%= location.state %><br>
                                        <%= location.country %>, <%= location.zip %><br>
                                        
                                    </address>
                                </div>
                                <% } else { %>
                                <div class="text-muted">
                                    No location provided.
                                </div>
                                <% }; %>
                            </div>
                        </div>
                    </div>
                    <div class="row right-col">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">
                                    <i class="pe-7s-clock text-muted pull-right"></i>
                                    Recent Activity
                                </h4>
                                <p class="category"></p>
                            </div>
                            <div class="content">
                            <% // if (activity[0]) { %>
                                <div class="text-muted">
                                    No recent activity.
                                </div>
                            </div>
                        </div>
                            <% // }; %>
                    </div>
        		</div>
            </div>
        </div>
	</div>
</div>