<div class="content">
    <div class="container-fluid">
        <div class="row">
        <% characters.forEach(function(character){ %>
            <% if (character.attribute == null) { %>
                <% character.attribute = {
                    race: ' ',
                    class: ' ',
                    birthplace: ' ',
                    hp: '0',
                    def: '0',
                    }; %>
            <% } %>
            <div class="col-sm-4">
                <div class="card card-user">
                    <div class="image">
                        <% if (characterImages[character.id].environment) { %>
                            <img src="<%= characterImages[character.id].environment %>" alt="Environment for <%= character.name %>"/>    
                        <% } else { %>
                            <img src="/img/default_environment.png" alt="Default environment for <%= character.name %>"/>
                        <% }; %>
                    </div>
                    <div class="content">
                        <a href="/characters/<%= character.id %>">
                            <div class="author">
                            <% if (characterImages[character.id].profile) { %>
                                <img class="avatar border-gray" src="<%= characterImages[character.id].profile %>" alt="Profile for <%= character.name %>"/>
                            <% } else if (character.attribute['gender'] && character.attribute['gender'].toLowerCase() == 'female') { %>
                                <img class="avatar border-gray" src="/img/default_female_avatar.png" alt="Default profile for <%= character.name %>"/>
                            <% } else { %>
                                <img class="avatar border-gray" src="/img/default_male_avatar.png" alt="Default profile for <%= character.name %>"/>
                            <% }; %>
                                <h4 class="title"><%= character.name %>
                                    <br>
                                    <small>
                                    <% if (character.attribute['race']) { %>
                                        <%= character.attribute['race'] %> 
                                    <% }; %>
                                        <% if (character.attribute['class']) { %>
                                        <%= character.attribute['class'] %>
                                    <% }; %>
                                    </small>
                                </h4>
                                <% if (character.attribute['gender'] && character.attribute['gender'].toLowerCase == 'female') { %>
                                <button class="btn btn-simple" style="margin-top: 5px"><i class="pe-7s-female"></i>
                                </button>
                                <% } else { %>
                                <button class="btn btn-simple" style="margin-top: 5px"><i class="pe-7s-male"></i>
                                </button>
                                <% }; %>
                            </div>
                        </a>
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="center-block">
                                <table class="stat-table">
                                    <tr>
                                        <td style="text-align: center; width: 30px">
                                            <i class="pe-7s-like"></i>
                                        </td>
                                        <td style="width: 60px">
                                            <label>Health</label>
                                        </td>
                                        <td style="text-align: center; width: 30px">
                                        <% if (character.attribute['hp'] !== null) { %>
                                            <label><%= character.attribute['hp'] %></label>
                                        <% }; %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; width: 30px">
                                            <i class="pe-7s-shield"></i>
                                        </td>
                                        <td style="width: 60px">
                                            <label>Defense</label>
                                        </td>
                                        <td style="text-align: center">
                                        <% if (character.attribute['def'] !== null) { %>
                                            <label><%= character.attribute['def'] %></label>
                                        <% }; %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-4 text-left">
                            <button class="btn btn-simple">
                                <% if (character.exp !== null) { %>
                                <i class="pe-7s-medal"></i> <label><%= character.exp %></label>
                                <% }; %>
                            </button>
                        </div>
                        <div class="col-xs-4 text-center">
                            <button class="btn btn-simple">
                                <i class="pe-7s-more"></i>
                            </button>
                        </div>
                        <div class="col-xs-4 text-right">
                            <button class="btn btn-simple">
                             <% if (character.gold !== null) { %>
                                <i class="pe-7s-diamond"></i> <label><%= character.gold %></label>
                            <% }; %>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>  
        </div>                       
    </div> 
</div>