<div class="content">
    <div class="container-fluid">
        <div class="col-sm-12">
        <div class="row">
        <% characters.forEach(function(character){ %>
            <div class="col-sm-4">
                <a href="/characters/<%= character.name %>">
                    <div class="card card-user">
                        <div class="image">
                            <img src="<%= characterImages[character.id].environment %>" alt="Environment for <%= character.name %>"/>   
                        </div>
                        <div class="content">
                            <div class="author">
                                 <!--<a href="#">-->
                                <img class="avatar border-gray" src="<%= characterImages[character.id].profile %>" alt="Profile for <%= character.name %>"/>
                                  <h4 class="title"><%= character.name %><br />
                                     <small><%= character.class %></small>
                                  </h4>
                                <!--</a>-->
                            </div>  
                            <div class="text-center">
                            	<button class="btn btn-simple">
                            		<i class="pe-7s-way" style="margin-top:10px"></i>
                            		<br />
                            		<small><%= character.birthplace %></small>
                            	</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                        	<div class="col-xs-4 text-left">
                            	<button class="btn btn-simple">
                            		<i class="pe-7s-medal"></i> <label><%= character.exp %></label>
                            	</button>
                            </div>
                            <div class="col-xs-4 text-center">
                            	<button href="#" class="btn btn-simple"><i class="pe-7s-more"></i>
                            	</button>
                            </div>
                            <div class="col-xs-4 text-right">
                            	<button class="btn btn-simple">
                            		<i class="pe-7s-diamond"></i> <label><%= character.gold %></label>
                            	</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div> 
        <% }) %>      
        </div>                    
    </div>
    </div>
</div>