<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <div id="characterInfo" class="card">
                    <div class="header">
                        <h4 class="title">Character Details
                        <% if (character.userId == currentUser.id) { %>
                            <button class="btn btn-simple edit">
                        		<small><i class="pe-7s-note"></i> Edit</small>
                        	</button>
                        <% }; %>
                        </h4>
                    </div>
                    <div class="content">
                         <form action="" class="put-form">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label>Name <small>(required)</small></label>
                                        <input type="text" class="form-control" name="name" value="<%= character.name %>" readonly>
                                        <!-- Hidden ID to identify correct character in DB -->
                                        <input type="hidden" class="form-control" name="id" value="<%= character.id %>">
                                    </div>        
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Exp</label>
                                        <input type="number" class="form-control" name="exp" value="<%= character.exp %>" readonly>
                                    </div>        
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Gold</label>
                                        <input type="number" class="form-control" name="gold" value="<%= character.gold %>" readonly>
                                    </div>        
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Race</label>
                                        <input type="text" class="form-control" name="race" value="<%= attribute.race %>" readonly>
                                    </div>        
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <input type="text" class="form-control" name="gender" value="<%= attribute.gender %>" readonly>
                                    </div>        
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label>Birthplace</label>
                                        <input type="text" class="form-control" name="birthplace" value="<%= attribute.birthplace %>" readonly>
                                    </div>        
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label>Class</label>
                                        <input type="text" class="form-control" name="class" value="<%= attribute.class %>" readonly>
                                    </div>        
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Hit Points</label>
                                        <input type="number" class="form-control" name="hp" value="<%= attribute.hp %>" readonly>
                                    </div>        
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Defense</label>
                                        <input type="number" class="form-control" name="def" value="<%= attribute.def %>" readonly>
                                    </div>        
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea rows="15" class="form-control" name="desc" readonly><%= attribute.desc %></textarea>
                                    </div>        
                                </div>
                            </div>
                            <input type="submit" class="btn btn-info btn-fill pull-right hidden save saveChanges" value="Save Changes">
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>   
                    </div>
                    <div class="content">
                        <div class="author">
                             <!--<a href="#">-->
                            <img class="avatar border-gray" src="/img/faces/face-3.jpg" alt="..."/>
                           
                              <h4 class="title"><%= character.name %><br />
                                 <small><%= character.class %></small>
                              </h4> 
                            <!--</a>-->
                        </div>  
                        <div class="text-center">
                            <button class="btn btn-simple">
                                <i class="pe-7s-way" style="margin-top:10px"></i>
                                <br />
                                <small><!-- birthplace --></small>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-4 text-left">
                            <button class="btn btn-simple">
                                <i class="pe-7s-medal"></i> <label><%= character.exp %></label>
                            </button>
                        </div>
                        <div class="col-xs-4 text-center">
                            <button class="btn btn-simple"><i class="pe-7s-more"></i>
                            </button>
                        </div>
                        <div class="col-xs-4 text-right">
                            <button class="btn btn-simple">
                                <i class="pe-7s-diamond"></i> <label><%= character.gold %></label>
                            </button>
                        </div>
                    </div>
                </div>
            <% if (campaign) { %>
                <div id="characterCampaign" class="card">
                    <div class="header">
                        <h4 class="title">Character Campaign
                         <% if (character.userId == currentUser.id) { %>
                            <button class="btn btn-simple edit">
                                <small><i class="pe-7s-note"></i> Edit</small>
                            </button>
                        <% }; %>
                        </h4>
                    </div>
                    <div class="content">
                        <form id="removeCharacter" action="/campaign/character/remove" class="put-form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Campaign Name <small>(required)</small></label>
                                        <input type="text" class="form-control" name="name" value="<%= campaign.name %>" readonly>
                                        <!-- Hidden ID to identify correct campaign and character in DB -->
                                        <input type="hidden" class="form-control hidden" name="identifier" value="<%= campaign.identifier %>">
                                        <input type="hidden" class="form-control hidden" name="characterId" value="<%= character.id %>">
                                    </div>    
                                </div>
                            </div>
                            <input type="submit" class="btn btn-danger btn-fill pull-right hidden save saveChanges" value="Leave Campaign">
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <% } else { %>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Add <%= character.name %> to a Campaign<br />
                        </h4>
                    </div>
                    <div class="content">
                        <form id="addCharacter" action="/campaign/character/add" class="put-form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Campaign Identifier <small>(required)</small></label>
                                        <input type="text" class="form-control" name="identifier" placeholder="ex. camelotReborn999">
                                        <!-- Hidden ID to identify correct character in DB -->
                                        <input type="hidden" class="form-control hidden" name="characterId" value="<%= character.id %>">
                                    </div>        
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Campaign Password <small>(required)</small></label>
                                        <input type="password" class="form-control" name="password" placeholder="********">
                                    </div>     
                                </div>
                            </div>
                            <input type="submit" class="btn btn-info btn-fill pull-right" value="Join Campaign">
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>    
                <% }; %>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Character Graphics</h4>
                    </div>
                    <div class="content">
                        <div class="form-group">
                            <label>Character Profile</label>
                            <form enctype="multipart/form-data" action="profile/<%= character.id %>" method="POST">
                                <div class="input-group">
                                    <input type="file" class="form-control" name="characterProfile">
                                    <span class="input-group-btn">
                                        <button class="btn btn-fill btn-default" type="submit">Upload</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="form-group">
                            <label>Character Environment</label>
                            <form enctype="multipart/form-data" action="environment/<%= character.id %>" method="POST">
                                <div class="input-group">
                                    <input type="file" class="form-control" name="characterEnvironment">
                                    <span class="input-group-btn">
                                        <button class="btn btn-fill btn-default" type="submit">Upload</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>       
        </div>                    
    </div>
</div>